table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  border-radius: 5px;
}

thead {
  background-color: #007bff;
  color: white;
}

th, td {
  padding: 8px;
  font-size: 15px;
  text-align: right;
  border: 1px solid #ddd;
}

th {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:first-child, th:first-child {
  text-align: left;
}
